[submodule "library/benchmark"]
	path = library/benchmark
	url = git://github.com/BruceJillis/Benchmark.git
[submodule "library/phirehose"]
	path = library/phirehose
	url = git://github.com/fennb/phirehose.git
